@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias_estatus.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar estatus de momento</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="eva_momentos_metodologias_estatus.IdEstatusDet" />
            <div class="form-group">
              
                <input  type="hidden"  asp-for="eva_momentos_metodologias_estatus.IdPersona" class="form-control" />
                <span asp-validation-for="eva_momentos_metodologias_estatus.IdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input  type="hidden" asp-for="eva_momentos_metodologias_estatus.IdCompetencia" class="form-control" />
                <span asp-validation-for="eva_momentos_metodologias_estatus.IdCompetencia" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="eva_momentos_metodologias_estatus.IdMomentoDet" class="form-control" />
                <span asp-validation-for="eva_momentos_metodologias_estatus.IdMomentoDet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_momentos_metodologias_estatus.IdTipoEstatus" class="control-label">Tipo de estatus</label>
                <select asp-for="eva_momentos_metodologias_estatus.IdTipoEstatus" class="form-control" asp-items="ViewBag.IdTipoEstatus"></select>
                <span asp-validation-for="eva_momentos_metodologias_estatus.IdTipoEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_momentos_metodologias_estatus.IdEstatus" class="control-label">Estatus</label>
                <select asp-for="eva_momentos_metodologias_estatus.IdEstatus" class="form-control" asp-items="ViewBag.IdEstatus"></select>
                <span asp-validation-for="eva_momentos_metodologias_estatus.IdEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_momentos_metodologias_estatus.FechaEstatus" class="control-label">Fecha de estatus</label>
                <input asp-for="eva_momentos_metodologias_estatus.FechaEstatus" class="form-control" />
                <span asp-validation-for="eva_momentos_metodologias_estatus.FechaEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_momentos_metodologias_estatus.Actual" class="control-label">Actual</label>
                <input asp-for="eva_momentos_metodologias_estatus.Actual" class="form-control" />
                <span asp-validation-for="eva_momentos_metodologias_estatus.Actual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_momentos_metodologias_estatus.Observacion" class="control-label">Observación</label>
                <input asp-for="eva_momentos_metodologias_estatus.Observacion" class="form-control" />
                <span asp-validation-for="eva_momentos_metodologias_estatus.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_momentos_metodologias_estatus.IdUsuarioReg" class="control-label">Usuario registro</label>
                <input asp-for="eva_momentos_metodologias_estatus.IdUsuarioReg" class="form-control" />
                <span asp-validation-for="eva_momentos_metodologias_estatus.IdUsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success btn-md active" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info btn-md active" role="button" asp-page="./Index" asp-route-id="@Model.eva_momentos_metodologias_estatus.IdMomentoDet" asp-route-idCompe="@Model.competenciaId" asp-route-idPer="@Model.personaId">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
